<% @containers_count.times do |i| %>
group gitaly/gitaly-<%= i %> {
  perm {
    task {
      uid = <%= @gitaly_user %>;
      gid = <%= @gitaly_group %>;
    }

    admin {
      uid = <%= @gitaly_user %>;
      gid = <%= @gitaly_group %>;
    }
  }

  cpu {
    cpu.shares = "<%= @cpu_shares %>";
  }

  memory {
    memory.limit_in_bytes = "<%= @memory_limit_in_bytes %>";
  }
}
<% end %>
