#!/bin/bash
<%#
Always use absolute paths for executables, this way bash doesn't have to
traverse PATH to find them, saving some time. Even this comment is ERB's
so bash won't have to read extra useless lines.
%>
checksum=( $(/usr/bin/cksum <<<"$@") )
slot=$(( ${checksum[0]} % <%= @containers_count %> ))
/usr/bin/cgexec -g "memory,cpu:gitaly/gitaly-${slot}" <%= @git_bin_path %> "$@"
